body{
    background-color: azure;

}

#header{
    width: 100%;
    height: 70px;
    background-color: #fffffd;
    position: absolute;
    top: 0px;
    left: 0px;
}

.header-logo{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.header-icon{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.header-label{
    position: absolute;
    top: 15px;
    right: 150px;
    font-size: 30px;
    font-weight: bold;
    font-family: rockwell;
}

#students{
    width: 1230px;
    height: 1000px;
    background-color:rgb(234, 243, 184) ;
    position: absolute;
    top: 100px;
    left: 20px;
    overflow: scroll;
}

.student_center{
    font-size: 50px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 0px;
    left: 400px;
    color: rgb(14, 7, 54);
}

.studentreg-table{
    width: 1190px;
    height: 450px;
    background-color: cornsilk;
    position: absolute;
    top: 70px;
    left: 20px;
    ;
}

.studentreg-tabletop{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 50px;
    /*background-color: red;*/
    
}



.studentreg-tabletop1{
    position: absolute;
    top: 10px;
    left: 450px;

    font-size: 35px;
    font-weight: bold;
    border: 0px;
}

.studentreg-tablebody{
    width: 1150px;
        height: 450px;
        position: absolute;
        top: 60px;
        left: 30px;
        background-color: azure;
        text-align: center;
        overflow: scroll;
    }

.studentreg-tablebodyh{
    position: absolute;
    top: 50px;
    left: 0px;
    width:100%;
    height: 50px;
    background-color: khaki;
    text-align: centre;
}


.student-check{
    width:270px;
    height: 400px;
    background: #fffffd;
    position: absolute;
    left: 470px;
    top: 550px;
}

.student-check-form{
    width: 250px;
    height: 100px;
    
    position: absolute;
    top: 10px;
    left: 10px;
}

.sname{
    width: 250px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    top: 150px;
    left: 10px;
}

.smat{
    width: 250px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    top: 280px;
    left: 10px;
}

.student-check-i{
    width: 240px;
    height: 40px;
}

.student-check-b{
    width: 240px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: aqua;
}


.studentreg-tablebodyh1{
    font-size: 40px;
    width: 200px;
    ; 
}

.device1-label{
    font-size: 20px;
    width: 200px;
    text-align: centre;
    ;
}

.student-delete{
    width: 400px;
    height: 400px;
    background-color:rgb(219, 242, 255);
    position: absolute;
    left: 50px;
    top: 550px;
    ;
}

.student-add{
    width: 400px;
    height: 400px;
    background-color:rgb(219, 242, 255);
    position: absolute;
    right: 50px;
    top: 550px;
    overflow: auto;
}

.student-deletetop{
    font-size: 20px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 0px;
    left: 25px;
    color: rgb(14, 7, 54);
}

.student-delete-input{
    width: 350px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 100px;
    background-color: silver;
    border-radius: 50px;;
    text-align: center;
    font-weight: bold;
    font-size: 30px;;
}

.student-delete-button{
    width: 250px;
    height: 50px;
    position: absolute;
    left: 80px;
    top: 250px;
    background-color: silver;
    border-radius: 50px;;
    text-align: center;
    font-weight: bold;
    font-size: 30px;;
}

.student-add-top{
    font-size: 20px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 0px;
    left: 100px;
    color: rgb(14, 7, 54);
}

.student-add-name{
    width: 350px;
    height: 70px;
    background-color: azure;
    position: absolute;
    left: 25px;
    top: 50px;
}

.student-add-name1{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 30px;
    font-weight: bold;
}

.student-add-name2{
    width: 342px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 35px;
}

.student-add-matric{
    width: 350px;
    height: 70px;
    background-color: azure;
    position: absolute;
    left: 25px;
    top: 150px;
}

.student-add-hall{
    width: 350px;
    height: 70px;
    background-color: azure;
    position: absolute;
    left: 25px;
    top: 250px;
}

.student-add-level{
    width: 350px;
    height: 70px;
    background-color: azure;
    position: absolute;
    left: 25px;
    top: 350px;
}

.student-add-room{
    width: 350px;
    height: 70px;
    background-color: azure;
    position: absolute;
    left: 25px;
    top: 450px;
}

.student-add-email{
    width: 350px;
    height: 70px;
    background-color: azure;
    position: absolute;
    left: 25px;
    top: 450px;
}

.student-add-reg{
    width: 350px;
    height: 70px;
    background-color: azure;
    position: absolute;
    left: 25px;
    top: 550px;
}

.student-add-check{
    width: 350px;
    height: 70px;
    background-color: azure;
    position: absolute;
    left: 25px;
    top: 650px;
}

.student-add-button{
    width: 342px;
    height: 30px;
    position: absolute;
    left: 25px;
    top: 750px;
    font-weight: bold;

}

#device{
    width: 1230px;
    height: 1000px;
    background-color:rgb(156, 221, 233) ;
    position: absolute;
    top: 1200px;
    left: 20px;
    overflow: scroll;
}

.device-track{
    width: 1230px;
    height: 600px;
    background-color:rgb(201, 236, 213) ;
    position: absolute;
    top: 2300px;
    left: 20px;
    overflow: scroll;
}

#track{
    width: 1240px;
    height: 1200px;
    position: absolute;
    top: 3000px;
    background-color:rgb(255, 238, 231);
    overflow: scroll;
 }

 .track-header{
    font-size: 50px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 0px;
    left: 400px;
    color: rgb(14, 7, 54);
 }

 .track-steps{
    font-size: 30px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 70px;
    left: 200px;
    color: rgb(14, 7, 54);
 }
 
.ipadress{
    width: 1100px;
    height: 50px;
    /*background-color: burlywood;*/
    position: absolute;
    top: 120px;
    left: 50px;
}

.ipadress-input{
    width: 700px;
    height: 48px;
    background-color:rgb(245, 255, 188);
    border-radius: 30px;;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.ipadress-button{
    width: 300px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 750px;;
    background-color:rgb(205, 243, 255);
    border-radius: 30px;;
    
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.coordinates{
    width: 1100px;
    height: 200px;
    background-color: burlywood;
    position: absolute;
    top: 250px;
    left: 50px;
    overflow: scroll;
}

.corordinates-input{
    width: 1100px;
    height: 50px;
    background-color: burlywood;
    position: absolute;
    top: 500px;
    left: 50px;
}

.corordinates-input1{
    width: 300px;
    height: 48px;
    background-color:rgb(245, 255, 188);
    border-radius: 30px;;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.corordinates-input2{
    width: 300px;
    height: 48px;
    background-color:rgb(245, 255, 188);
    border-radius: 30px;;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 400px;;
}


.corordinates-button{
    width: 300px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 750px;;
    background-color:rgb(205, 243, 255);
    border-radius: 30px;;
    
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.google{
    width: 1100px;
    height: 500px;
    background-color: burlywood;
    position: absolute;
    top: 600px;
    left: 50px;
    
}

.google1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}





