body{
    background: darkslateblue;
}

.idi{
    font-weight: bold;
    font-size: 40px;
}

#header{
    width: 100%;
    height: 70px;
    background-color: #fffffd;
    position: absolute;
    top: 0px;
    left: 0px;
}

.header-logo{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.header-icon{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.header-label{
    position: absolute;
    top: 15px;
    right: 150px;
    font-size: 30px;
    font-weight: bold;
    font-family: rockwell;
}

#register{
            width: 1230px;
        height: 470px;
        position: absolute;
        top: 100px;
        background-color: azure;
}

.reg-header{
    font-size: 50px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 0px;
    left: 200px;
    color: rgb(14, 7, 54);
}

.reg-form{
    width: 1260px;
    height: 470px;
    position: absolute;
    top: 100px;
    background-color: azure;
    position: absolute;
    top: 0px;
    left: 0px;;
}

.reg-header{
    font-size: 50px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 0px;
    left: 200px;
    color: rgb(68, 32, 109);
}

.reg-name{
   width: 300px;
   height: 100px;
   /*background: cyan;*/
position: absolute;
top:70px;
left: 30px;
    
}

.reg-name1{
    font-weight: bold;
    font-size: 40px;
    color: darkblue;
    
 }

 .reg-name2{
    width: 290px;
    height: 40px;
    font-size: 25px;
    color:brown;
    overflow: auto;
 }
 

.reg-matric{
    width: 300px;
    height: 100px;
    /*background: cyan;*/
 position: absolute;
 top:70px;
 left: 480px;
     
 }

 .reg-hall{
    width: 300px;
    height: 100px;
    /*background: cyan;*/
 position: absolute;
 top:70px;
 right: 30px;
     
 }

 .reg-level{
    width: 300px;
    height: 100px;
    /*background: cyan;*/
 position: absolute;
 top:230px;
 left: 30px;
     
 }

 .reg-room{
    width: 300px;
    height: 100px;
    /*background: cyan;*/
 position: absolute;
 top:230px;
 left: 480px;
     
 }

 .reg-email{
    width: 300px;
    height: 100px;
    /*background: cyan;*/
 position: absolute;
 top:230px;
 right: 30px;
     
 }


 .reg-button{
     width: 400px;
     height: 50px;
     position: absolute;
     top: 390px;
     left: 420px;
     border-radius: 40px;
     opacity: 0.7;
     background-color: cream;
     font-family: rockwell;
     font-size: 40px;
 }

 #device{
    width: 1240px;
        height: 470px;
        position: absolute;
        top: 650px;
        background-color: azure;
        
 }

 .device1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: scroll;
    
 }

 .device1-label{
    text-align: center;
    font-weight: bold;
 }

 #track-table{
    width: 1240px;
    height: 470px;
    position: absolute;
    top: 1200px;
    background-color: azure;
    overflow: scroll;
 }

 #track{
    width: 1240px;
    height: 1200px;
    position: absolute;
    top: 1800px;
    background-color: azure;
    overflow: scroll;
 }

 .track-header{
    font-size: 50px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 0px;
    left: 400px;
    color: rgb(14, 7, 54);
 }

 .track-steps{
    font-size: 30px;
    font-weight: bold;
    font-family: rockwell;
    position: absolute;
    top: 70px;
    left: 200px;
    color: rgb(14, 7, 54);
 }
 
.ipadress{
    width: 1100px;
    height: 50px;
    /*background-color: burlywood;*/
    position: absolute;
    top: 120px;
    left: 50px;
}

.ipadress-input{
    width: 700px;
    height: 48px;
    background-color:rgb(245, 255, 188);
    border-radius: 30px;;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.ipadress-button{
    width: 300px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 750px;;
    background-color:rgb(205, 243, 255);
    border-radius: 30px;;
    
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.coordinates{
    width: 1100px;
    height: 200px;
    background-color: burlywood;
    position: absolute;
    top: 250px;
    left: 50px;
    overflow: scroll;
}

.corordinates-input{
    width: 1100px;
    height: 50px;
    background-color: burlywood;
    position: absolute;
    top: 500px;
    left: 50px;
}

.corordinates-input1{
    width: 300px;
    height: 48px;
    background-color:rgb(245, 255, 188);
    border-radius: 30px;;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.corordinates-input2{
    width: 300px;
    height: 48px;
    background-color:rgb(245, 255, 188);
    border-radius: 30px;;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 400px;;
}


.corordinates-button{
    width: 300px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 750px;;
    background-color:rgb(205, 243, 255);
    border-radius: 30px;;
    
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.google{
    width: 1100px;
    height: 500px;
    background-color: burlywood;
    position: absolute;
    top: 600px;
    left: 50px;
    
}

.google1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.head{
    width: 100%;
    height: 70px;
    position: absolute;
    top: -70px;
    left: 0px;
    background-color: azure;
}

.head-label{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.reg-select{
    width: 300px;
    height: 100px;
    /*background: cyan;*/
 position: absolute;
 top:340px;
 left: 30px;
     
 }

 